/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
/* Général */


*{
    margin: 0;
    scroll-behavior: smooth; 
    font-family: var(--openSans); 
}

:root { 

    --openSans: "Open Sans", sans-serif;
    --raleway: "Raleway", sans-serif;
    --red:#E7174A;
    --orange: #FF9A16;
    --darkBlue: #011826;
    --vertClair: #2CC1AA;
    --bgc: #011826;
    --white: #fff;
    --black: #000;
    --borderBtn: #F7FFF2;
    --double : linear-gradient(90deg, rgba(231,23,74,1) 17%, rgba(255,154,22,1) 72%);

}

body {
    background-color: var(--darkBlue);
}

h1 {
    font-family: var(--raleway);
    font-weight: 700;
    font-size: 36px;
    color: var(--white);
}

h2 {
    font-family: var(--raleway);
    font-weight: 700;
    font-size: 36px;
    color: var(--white);
}


h3 {
    font-family: var(--raleway);
    font-weight: 700;
    font-size: 21px;
    color: var(--white);
}

p {
    font-family: var(--openSans);
    font-weight: 400;
    font-size: 16px;
    color: var(--white);
}

ul {
    list-style: none;
    padding: 0;
}

a {
    color: var(--orange);
    font-size: 16px;
    font-family: var(--openSans);
    font-weight: 400;
    text-decoration: none;
}

a:hover {
    color: var(--red);
    transition: all 0.2s;
}

.container-1440 {
    max-width: 1440px;
    margin: auto;
    padding: 10px 20px;
}



/* Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

#heak {
    flex-direction: column;
}

#heak > a > img {
    width: 180px;
}

nav ul {
    display: flex;
    gap: 20px;
}

nav a {
    align-content: center;
}

nav > ul > div > input[type="checkbox"] {
    display: none;
}

nav > ul > div > label.contact-label {
    cursor: pointer;
    background: var(--orange);
    color: var(--white);
    padding: 5px;
}

nav > ul > div > label.contact-label:hover {
    background: var(--red);
}

body > header > nav > ul > a:nth-child(3) > li {
    color: var(--red);
}

.burger_menu {
    display: none;
}

/* Modal styles */
.modal-content {
    display: none;
    position: absolute;
    top: 85px; 
    right: 205px;
    max-width: 250px;
    background: var(--borderBtn);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

nav > ul > div > input[type="checkbox"]:checked + label.contact-label + .modal-content {
    display: block;
}

.modal-content .close {
    position: absolute;
    top: -50px;
    right: 3px;
    color: var(--orange);
    cursor: pointer;
    font-size: 40px;
    background: none;
}

.modal-content h2 {
    color: var(--black);
}

.modal-content form label {
    display: block;
    margin: 15px 0px;
}

.modal-content form input, .modal-content form textarea {
    width: 100%;
    padding: 3px;
    margin-top: 5px;
    box-sizing: border-box;
}

.modal-content form button {
    margin-top: 15px;
    padding: 10px 15px;
    background: var(--darkBlue);
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
}


.modal-content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Couleur de fond fondu */
    z-index: -1;
}



/* Animation */

#submenu > a:nth-child(1) li {
    animation: Escalier 0.1s forwards;
    animation-delay: 0.1s;
}

#submenu > a:nth-child(2) li {
    animation: Escalier 0.2s forwards;
    animation-delay: 0.2s;
}

#submenu > a:nth-child(3) li {
    animation: Escalier 0.3s forwards;
    animation-delay: 0.3s;
}

#submenu > a:nth-child(4) li {
    animation: Escalier 0.4s forwards;
    animation-delay: 0.4s;
}

#submenu > a:nth-child(5) li {
    animation: Escalier 0.5s forwards;
    animation-delay: 0.5s;
}

#submenu > div {
    animation: Escalier 0.6s forwards;
    animation-delay: 0.6s;
}


#submenu > a li,
#submenu > div {
    opacity: 0;
    transform: translateY(20px);
}

#section1 {
    opacity: 0;
    animation: fade 1s forwards;
    animation-delay: 0.7s; 
}




@keyframes Escalier {
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes fade {
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Footer */

footer {
    background-color: var(--vertClair);
    text-align: center;
    padding: 20px;
}

/* Section1 */

#section1 {
    background-color: var(--red);
    text-align: center;
    padding: 150px;
    margin: 60px 0px;
}

/* Section2 */

#section2 {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 40px;
}

#section2 img {
    width: 100%;
}

#section2 article {
    align-content: center;
}

/* Section3 */

#section3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

#section3 h2 {
    grid-column: span 2; 
    margin-bottom: 20px; 
    text-align: center;
}

.list {
    display: flex;
    flex-direction: column;
}

.hidenliste {
    display: none;
    list-style-type: circle;
    padding-left: 0;
    margin-top: 30px;
    margin-left: 20px;
}

input[type="checkbox"]:checked + .hidenliste {
    display: block;
}

#section3 article {
    padding: 20px 0 20px 20px;
    background-color: var(--borderBtn);
    margin-bottom: 10px;
}

#section3 label {
    cursor: pointer;
    font-weight: bold;
    color: var(--orange);
    border-bottom: 2px solid var(--red);
    padding-bottom: 15px;
}

input[type="checkbox"] {
    display: none;
}


/* Section 4  */

#section4 > div:nth-child(1) {
    display: flex;
    justify-content: space-between;
}

#section4 h2 {
    margin: 40px 0px;
}

#section4 > div:nth-child(1) > a {
    align-self: center;
    align-content: center;
    color: var(--white);
    border: 1px solid;
    padding: 15px;
}

#section4 > div:nth-child(1) > a:hover {
    background-color: var(--red);
}

#section4 > div:nth-child(2) {
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    grid-column-gap: 40px;
}

#section4 img {
    max-width: 100%;
}

#section4 > div > article {
    order: -1;
    border-left: 1px solid var(--orange);
    border-right: 1px solid var(--orange);
    padding: 20px;
}

#section4 > div:nth-child(2) > a {
    color: var(--white);
    border: 1px solid;
    padding: 10px 15px;
    width: 90px;
    margin-left: 20px;
    margin-bottom: 40px;
}

#section4 > div:nth-child(2) > a:hover {
    background-color: var(--red);
}

#section4 > a > div {
    display: block;
    margin: 20px auto; 
    color: var(--white);
    border: 1px solid;
    padding: 10px 15px;
    text-align: center; 
    width: 180px; 
}

#section4 > div > a:hover {
    background-color: var(--red);
}


#section4 > a {
    display: block;
    margin: 40px auto; 
    color: var(--white);
    border: 1px solid;
    padding: 15px;
    text-align: center; 
    width: 180px; 
}

#section4 > a:hover {
    background-color: var(--red);
}

@media (min-width: 768px) and (max-width: 1024px) {
    #submenu {
        display: none;
    }

    header > #burger_menu {
        display: block;
    }

    header > nav > div > i {
        color: var(--white);
    }

    #section2 {
        grid-template-columns: 1fr;
    }

    #section2 img {
        width: 75%;
        place-self: center;
        margin-bottom: 40px;
    }


    #section3 {
        gap: 50px;
    }
    
    #section4 > div:nth-child(2) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-column-gap: 40px;
        grid-row-gap: 40px;
    }

    #section4 > div:nth-child(2) > article:nth-child(1) {
        grid-column: 1;
        grid-row: 1;
    }
    
    #section4 > div:nth-child(2) > article:nth-child(3) {
        grid-column: 2;
        grid-row: 1;
    }
    
    #section4 > div:nth-child(2) > article:nth-child(5) {
        grid-column: span 3;
        grid-row: 3;
    }
    
    #section4 > div:nth-child(2) > a:nth-child(2) {
        grid-column: 1;
        grid-row: 2;
    }
    
    #section4 > div:nth-child(2) > a:nth-child(4) {
        grid-column: 2;
        grid-row: 2;
    }
    
    #section4 > div:nth-child(2) > a:nth-child(6) {
        grid-column: span 2;
        grid-row: 4;
    }
}

@media (min-width: 320px) and (max-width: 767px){
    #submenu {
        display: none;
    }

    header > #burger_menu {
        display: block;
    }

    header > nav > div > i {
        color: var(--white);
    }

    #section2 {
        grid-template-columns: 1fr;
    }

    #section2 img {
        width: 50%;
        place-self: center;
        margin-bottom: 40px;
    }

    #section3 {
        display: flex;
        flex-direction: column;
    }

    #section4 > div:nth-child(1) {
        display: block;
        text-align: center;
        margin-bottom: 60px;
    }

    #section4 > div:nth-child(2) {
        display: flex;
        flex-direction: column;
    }
    
    #section4 > div:nth-child(2) > article {
        order: initial; /* Remove the order property to maintain the natural order */
        margin-bottom: 20px; /* Add some space between articles */
    }
    
    #section4 > div:nth-child(2) > a {
        align-self: flex-start; /* Ensure the links align to the start of the container */
        margin-bottom: 20px; /* Add space below each link */
    }
}